<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <%- include('/home/node/app/views/cabecalho.ejs') %>
    <h1>Vamos calcular a área de um decágono regular!</h1>
    <p>Determine a área de uma forma de decágono. Se a área estiver dentro do intervalo de 10 a 20 metros quadrados, é uma área média. Caso contrário, é uma área que não segue o padrão</p>
    <h2>Digite abaixo os dados:</h2>
    <form action="area" method="post">
        <label>
            <span>Nome</span>
            <input name="nome">
        </label>
        <label>
            <span>Lado do decágono (em metros)</span>
            <input name="lado_decagono">
        </label>
        <label>
            <button>OK</button>
        </label>
    </form>
</body>
</html>